@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #F8F8F8;
}

.icon-green {
  filter: invert(60%) sepia(38%) saturate(5616%) hue-rotate(55deg) brightness(95%) contrast(101%);
}

.icon-red {
  filter: invert(17%) sepia(42%) saturate(7010%) hue-rotate(3deg) brightness(110%) contrast(132%);
}